<h1><%= @dashboard.name %></h1>
<h1>Widgets:</h1>
<%- @dashboard.widgets.each do |widget| %>
<h2><%= link_to widget.name, dashboard_widget_path(@dashboard, widget) %></h2>
<%= widget.to_json %>
<%- end %>
