// Place all the styles related to the Dashboards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	margin: 0;
}

.widget {
	position: absolute;
	border: 1px solid black;
}

.widget-title {
	height: 24px;
}

.numeric-main {
	font-size: 60pt;
	text-align: center;
	display: table-cell;
	vertical-align: middle;
}
